/* color palette from <https://github.com/vuejs/theme> */

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

:root {
  /* Light theme */
  --background: 255, 255, 255;
  --background-secondary: 249, 250, 251;
  --foreground: 17, 24, 39;
  --foreground-secondary: 75, 85, 99;
  --border: 229, 231, 235;
  --primary: #68a506;
  --primary-hover: #527f05;
  --primary-light: #84c517;
  --primary-dark: #446e04;
  --accent-blue: #0679a5;
  --accent-purple: #7a06a5;
  --accent-orange: #a57906;
  --success: #2e7d32;
  --warning: #ed6c02;
  --error: #d32f2f;
  --info: #0288d1;
}

.dark {
  /* Dark theme */
  --background: 17, 24, 39;
  --background-secondary: 31, 41, 55;
  --foreground: 249, 250, 251;
  --foreground-secondary: 229, 231, 235;
  --border: 55, 65, 81;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}

@tailwind base;
@tailwind components;
@tailwind utilities;
