/* color palette from <https://github.com/vuejs/theme> */

@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");

:root {
  /* Light theme */
  --background: #ffffff;
  --background-secondary: #f9fafb;
  --foreground: #111827;
  --foreground-secondary: #4b5563;
  --border: #e5e7eb;
  --primary: #68a506;
  --primary-hover: #527f05;
  --primary-light: #84c517;
  --primary-dark: #446e04;
  --accent-blue: #0679a5;
  --accent-purple: #7a06a5;
  --accent-orange: #a57906;
  --success: #2e7d32;
  --warning: #ed6c02;
  --error: #d32f2f;
  --info: #0288d1;
}

.dark {
  /* Dark theme */
  --background: #111827;
  --background-secondary: #1f2937;
  --foreground: #f9fafb;
  --foreground-secondary: #e5e7eb;
  --border: #374151;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

@tailwind base;
@tailwind components;
@tailwind utilities;